*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100svh;
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: normal;
}
